<section class='snippet'>
  <div class='page-header'>
    <a data-toggle='collapse' href='#snippet{{index}}'><h1>{{data.title}}</h1></a>
  </div>
  <section class='article collapse' id='snippet{{index}}'>
    {{#markdown}}
      {{page}}
    {{/markdown}}
  </section>
</section>
