.slide.active {
  margin: 0;
  width: 100%;
  height: 95vh;
  color: #222222;

  &.title-slide, &.section-title {
    background-color: #e5e5e5;
    font-family: NittyBold;
    display: table;
    text-align: center;

    hgroup {
      display: table-cell;
      vertical-align: middle;

      h1 {
        font-size: 5em;
      }

      h2 {
        font-family: NittyNormal;
      }

      h2:first-of-type {
        margin-top: 2em;
      }

      em {
        font-family: NittyBold;
        font-style: normal;
        color: $red;
      }  
    }
  }


  .image {
    position: relative;
    
    h1 {
      padding: 0.3em 0.4em;
      font-size: 3em;
      color: #333333;
      background-color: $yellow;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;

      &:hover {
        background-color: #333333;
        color: $yellow;
      }
    }
    img {
      width: 100vw;
    }
  }



  &.normal, &.image-slide, &.quote {
    background-color: #e5e5e5;
    padding-left: 15vw;
    padding-right: 15vw;
    display: table;

    p, li {
      font-size: 2em;

      @media (max-width: $screen-xs-max) {
        font-size: 1.5em;
      }

      @media (min-width: $screen-lg-min) {
        font-size: 2.5em;
      }

      img {
        margin: 10px 0;
      }
   }

   ol {
      padding: 1em 0;
      list-style-position: inside;
   }

    h1 {
      font-family: NittyBold;
    }

    .slide-content {
      display: table-cell;
      vertical-align: middle;

      em {
        font-style: normal;
        font-family: 'NittyBold';
        color: $red;
      }
    }

    hgroup {
      position: absolute;
      top: 0;
      left: 0;
      background: $yellow; 
      padding: 1em 2em;


      h1 {
        color: #333333;
        font-size: 1.8em;
        font-family: 'NittyNormal';
        margin: 0;
        padding: 0;

        @media (max-width: $screen-xs-max) {
          font-size: 1.3em;
        }

        @media (min-width: $screen-lg-min) {
          font-size: 2em;
        }
      }
    }
  }
  
  &.image-slide {
    padding: 0;

    .quote {
      font-size: 0.7em;
      padding: 80px 60px;

      p:last-child {
        text-align: right;
      }
    }
    
    .image, .quote {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    @media (min-width: $screen-lg-min) {
      .image, .quote {
        width: 49.5%;
        
        img {
          width: 100%;
        }

        &:first-of-type {
          left: -2px;
          float: left;
        }

        &:last-of-type {
          float: right;
        }
      }
    }
  }

  &.quote {
    .slide-content {
      p:last-child {
        margin-top: 2em;
        text-align: right;
      }
    }
  }
}

