@font-face {
  font-family: NittyNormal;
  src: url('../fonts/NN.woff') format('woff');
}

@font-face {
  font-family: NittyBold;
  src: url('../fonts/NB.woff') format('woff');
}

$yellow: #E5CF39;
$green: #A5CC45;
$blue: #75C7B3;
$red: #E34D2F;

$labelColors: $yellow, $green, $blue, $red;

$navbar-height: 50px;
$brand-primary: $yellow !default;

$font-family-monospace: NittyNormal, Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-monospace !default;

@import "../vendor/bootstrap/stylesheets/bootstrap";

body {
  background: #e5e5e5;
} 
.navbar {
  font-size: 1.1em;
  margin-bottom: 0;

  svg {
    fill: #333333; 
    padding: 0;
    width: 50px;

    &:hover {
      fill: $brand-primary; 
    }
  }

  .navbar-brand {
    padding: 10px 15px;
  }
}

.hero-image {
  #logo {
    display: block;
  }

  #logo-text {
    display: none;
  }

  .carousel-inner .logo-slide {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  svg {
    fill: #222222; 
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  }
  width: 100%;
  height: 95vh;

  @media (orientation:portrait) {
    height: 30vh;
  }

  background-color: $blue;

  &:hover {
    background: $brand-primary;
    #logo {
      display: none;
    }

    #logo-text {
      display: block;
    }
  }
}

.presentation {
  .hero-image {
    height: 95vh;
  }
}

#carousel-header {

  .carousel-control.left, .carousel-control.right {
    background-image: none;
  } 
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%
}

#main {
  border-top: 4px solid $blue;
}

.snippet {
  svg {
    fill: #222222;
    background: $blue; 
    padding: 40px 200px;
    width: 100%;
    height: 100%;
    vertical-align: middle;

    &:hover {
      fill: $red;
    }
  }

  background-color: #e5e5e5;
  margin: 0px -15px;
  img {
    -webkit-column-span: all;
    column-span: all;
    width: 100%;
  }

  .page-header {
    background-color: #222222;
    margin: 0px 0px;
    border-bottom-width: 0px;
    border-bottom: 4px solid $blue;
    padding: 20px;
    user-select: none;

    h1 {
      margin: 0;
      font-size: 1.3em;
      color: #e5e5e5;
      font-family: NittyNormal;
    }

    a {
      text-decoration: none;
    }
  }

  .collapse {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 4px solid $blue;
  }

  &:hover {
    .page-header {
      background-color: #222222;
      margin: 0px 0px;
      border-bottom-width: 0px;
      border-bottom: 4px solid $brand-primary; 
      padding: 20px;
      user-select: none;
    }

    .collapse {
      border-bottom: 4px solid $brand-primary;
    }
  }
}

.article {
  padding: 1.5em 25px 1.5em 25px;
  column-gap: 50px;
  column-count: 2;

  p {
    widows: 2;
  }

  h1, h2, h3 {
    color: $blue;
  }

  h2 {
    margin-top: 0;
    font-size: 1.7em;
  }

  h3 {
    font-size: 1.3em;
  }

  a {
    display: inline-block;
    padding: 0.1em 0.3em;
    background-color: $yellow;
    color: #222222;
    font-family: NittyBold;

    &:hover {
      background-color: #222222;
      color: $yellow;
      text-decoration: none;
    }
  }

  @media (max-width: $screen-xs-max) {
      column-count: 1;
  }

  @media (min-width: $screen-lg-min) { 
      column-count: 3;
  }
}


.navbar-nav {
 .slide-number.active {
    a {
      color: $red;
    }
  }
}

.slide.active {
  margin: 0;
  width: 100%;
  height: 95vh;
  color: #222222;

  &.title-slide, &.section-title {
    background-color: #e5e5e5;
    font-family: NittyBold;
    display: table;
    text-align: center;

    hgroup {
      display: table-cell;
      vertical-align: middle;

      h1 {
        font-size: 5em;
      }

      h2 {
        font-family: NittyNormal;
      }

      h2:first-of-type {
        margin-top: 2em;
      }

      em {
        font-family: NittyBold;
        font-style: normal;
        color: $red;
      }  
    }
  }


  .image {
    position: relative;
    

    h1 {
      padding: 0.3em 0.4em;
      font-size: 3em;
      color: #333333;
      background-color: $yellow;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;

      &:hover {
        background-color: #333333;
        color: $yellow;
      }
    }
    img {
      width: 100vw;
    }
  }



  &.normal, &.image-slide, &.quote {
    background-color: #e5e5e5;
    padding-left: 15vw;
    padding-right: 15vw;
    display: table;

    p, li {
      font-size: 2em;

      @media (max-width: $screen-xs-max) {
        font-size: 1.5em;
      }

      @media (min-width: $screen-lg-min) {
        font-size: 2.5em;
      }

      img {
        margin: 10px 0;
      }
   }

   ol {
      padding: 1em 0;
      list-style-position: inside;
   }

    h1 {
      font-family: NittyBold;
    }

    .slide-content {
      display: table-cell;
      vertical-align: middle;

      em {
        font-style: normal;
        font-family: 'NittyBold';
        color: $red;
      }
    }

    hgroup {
      position: absolute;
      top: 0;
      left: 0;
      background: $yellow; 
      padding: 0.5em 1.5em;


      h1 {
        color: #333333;
        font-size: 1.8em;
        font-family: 'NittyNormal';
        margin: 0;
        padding: 0;

        @media (max-width: $screen-xs-max) {
          font-size: 1.3em;
        }

        @media (min-width: $screen-lg-min) {
          font-size: 2em;
        }
      }
    }
  }
  
  &.image-slide {
    padding: 0;

    @media (min-width: $screen-lg-min) {
      .image {
        width: 49.5%;
        
        img {
          width: 100%;
        }

        &:first-of-type {
          left: -2px;
          float: left;
        }

        &:last-of-type {
          float: right;
        }
      }
    }
  }
}
